<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Adress Email</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Abassa</td>
      <td>Soumana</td>
      <td>delomodibo@gmail.com</td>
      <td>fyjifyugy</td>
    </tr>
  </tbody>
</table>